body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0069B1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 20px;
    color: gainsboro;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color:#000;
    opacity:0.5;
  }
  
  .sidenav .closebtn {
    position:relative;
    top: 0;
    left: 100px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav b:hover {
    color: #f1f1f1;
    opacity:0.5;
    cursor: pointer;
  }

  .sidenav b{
      color: white;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  i{
    width: 12px;
    margin-right: 4px;
  }

  .yeet a{
    padding: 0px 0px 0px 0px;
    position: absolute;
    top: 20px;
    right: 25px;
    left: 25px;
    
  }

  .yeet a:hover{
      background-color: #0069b1;
  }

  hr {
    border-top:2px solid white;
    width: 50%;
    margin-top: 20px;
    margin-left: 50px;
  }